{% extends "_main.html" %}

{% block head %}
    <style>
        body {
            grid-template-columns: 1fr 95% 1fr;
        }
    </style>
{% endblock %}

{% block header %}
    <h1>Flow Explorer</h1>
{% endblock %}

{% block content %}
    <table width="100%">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Author</th>
                <th>Tags</th>
                <th>Created</th>
                <th>Modified</th>
            </tr>
            {% for item in result %}
            <tr>
                <td>
                    <a target="_blank" href="{{ item["url"] }}">
                        {{ item["name"] }}
                    </a>
                </td>
                <td>{{ item["description"] }}</td>
                <td>{{ item["author"] }}</td>
                <td>
                    {% for tag in item["tags"] %}
                        <mark>{{ tag }}</mark>
                    {% endfor %}
                <td>{{ item["created"].strftime("%Y-%m-%d %H:%M") }}</td>
                <td>{{ item["modified"].strftime("%Y-%m-%d %H:%M") }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    <p>
        <a href="?pp={{pp}}&p=0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-first"><path d="m17 18-6-6 6-6"/><path d="M7 6v12"/></svg></a>

        <a href="?pp={{pp}}&p={{ 0 if p == 0 else p - 1 }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg></a>
        
        <a href="?pp={{pp}}&p={{ (total + pp - 1) // pp - 1 if p == (total + pp - 1) // pp - 1 else p + 1 | int }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg></a>

        <a href="?pp={{pp}}&p={{ (total + pp - 1) // pp - 1 | int}}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-last"><path d="m7 18 6-6-6-6"/><path d="M17 6v12"/></svg></a>
    </p>
{% endblock %}

{% block footer %}
{% endblock %}