{% extends "_main.html" %}

{% block head %}
<script>
    function page(p) {
        var inputP = document.querySelector('input[name="p"]');
        inputP.value = p;
        inputP.form.submit();
    }
</script>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<form role="search" method="post" action="/flow">
    <input type="hidden" name="p" value="0"/>
    <input type="hidden" name="pp" value="{{pp}}"/>
</form>
<div id="page">
    <table>
        <tr>
            <th>Execution ID</th>
            <th colspan="2">Status</th>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <th>Runtime</th>
        </tr>
        {% for item in items %}
        <tr>
            <td><a href="/flow/{{ item["launch"].fid }}">{{ item["launch"].fid }}</a></td>
            <td><div id="status-{{ item["launch"].fid }}">{{ item["status"] }}</div></td>
            <td><progress id="progress-{{ item["launch"].fid }}" style="width: 100px;" value="{{ item["progress"] }}" max="1"></progress></td>
            <td>{{ item["flow"].name }}</td>
            <td>{{ item["timing"]["tearup"] }}</td>
            <td>{{ item["timing"]["teardown"] }}</td>
            <td>{{ item["duration"]["total"] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<p style="text-align: center;">
    <a href="/flow?pp={{pp}}&p=0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-first"><path d="m17 18-6-6 6-6"/><path d="M7 6v12"/></svg></a>
    <a href="/flow?pp={{pp}}&p={{ 0 if p == 0 else p - 1 }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg></a>
    - {{p + 1}} -
    <a href="/flow?pp={{pp}}&p={{ (total + pp - 1) // pp - 1 if p == (total + pp - 1) // pp - 1 else p + 1 | int }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg></a>
    <a href="/flow?pp={{pp}}&p={{ (total + pp - 1) // pp - 1 | int}}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-last"><path d="m7 18 6-6-6-6"/><path d="M17 6v12"/></svg></a>
</p>
{% endblock %}

{% block footer %}
<script>
    function splitOnce(str) {
        const index = str.indexOf(' ');
        if (index === -1) {
            return [str];
        }
        return [str.substring(0, index), str.substring(index + 1)];
    }
    let evSrc = [];
    var progress;
    var status;
    {% for item in items %}
        progress = document.querySelector("#progress-{{ item["launch"].fid }}");
        status = document.querySelector("#status-{{ item["launch"].fid }}");
        {% if item["status"] in ("pending", "booting", "starting", "running") %}
        console.log("I am running: {{item["launch"].fid}}");
        evSrc["{{ item["launch"].fid }}"] = new EventSource("/flow/{{ item["launch"].fid }}/progress/stream");
        evSrc["{{ item["launch"].fid }}"].onmessage = function(event) {
            const [timestamp, jsonData] = splitOnce(event.data);
            const data = JSON.parse(jsonData);
            if (data["progress"]) {
                progress.value = data["progress"]["value"];
            }
            if (data["status"]) {
                status.value = data["status"];
            }
        };
        evSrc["{{ item["launch"].fid }}"].addEventListener("eof", function(event) {
            evSrc["{{ item["launch"].fid }}"].close();
        });
        {% else %}
            progress.value = 1;
        {% endif %}
{% endfor %}
</script>
{% endblock %}